@import './variants.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $Primary-color;
    color: $Secondary-color;

    a {
        color: $My-tx-purple;
        text-decoration: none;
    }
}