@import './variants.scss';
@import 'bootstrap/scss/bootstrap';

body {
    background-color: $my-primary-bg-color;
    color: $my-primary-text-color;

    a {
        color: $my-link-text-color;
        text-decoration: none;
    }
}