// import
@import "bootstrap/scss/bootstrap";

// personal set
$my-bg-primary-color: #fff;
$my-text-prymary-color: #000;

// personal class
.my-personal-class {
    display: flex;
    justify-content: center;
    align-items: center;
}