// import
@import "bootstrap/scss/bootstrap";

// personal set
$my-bg-primary-color: #d2d2d2;

// personal class
.my-personal-class {
    display: flex;
    justify-content: center;
    align-items: center;
}